.ev-gutter-column {
  cursor: col-resize;
}

.ev-gutter-row {
  cursor: row-resize;
}

.ev-gutter:not(.ev-gutter-no-resize) {
  &::after {
    display: block;
    position: relative;
    content: ''
  }

  &.ev-gutter-column::after {
    width: 8px;
    height: 100%;
    margin-left: -4px;
  }

  &.ev-gutter-row::after {
    width: 100%;
    height: 8px;
    margin-top: -4px;
  }
}

.ev-layout-pane-maximized {
  border: 0;
}